<div class="third_step_content">
    <!-- <a class="sluiten-button">Sluiten</a> -->
    <h3 class="heading">Hoe kunnen wij je op de hoogte houden?</h3>
    <div class='third-decorator'>
        <div class='active'><i class="fa fa-check-circle" aria-hidden="true"></i>
            Profile </div>
        <div class='line '> </div>
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <p>Aanvullende gegevens</p>
        <div class='second-line active'> </div>
        <i class="fa fa-circle" aria-hidden="true"></i>
        <p class='active'>Afronden</p>
    </div>
    <div class="consent-checking">
        <label class="checkbox-container">
            <input type="checkbox" name="checkbox" value="value">
            <p>
                Ik wil graag exclusieve bonussen obtvangen in mijn email
            </p>
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container">
            <input type="checkbox" name="checkbox" value="value">
            <p>
                Ik wil graag nieuwsbrieven van xxx in mijn email ontvangen
            </p>
            <span class="checkmark"></span>
        </label>
    </div>
</div>  