<header>
    <div class="wrapper">
      <app-top-message></app-top-message>
      <app-navigation></app-navigation>
    </div>
    <div class='overlay'></div>
    <div class="hero-wrapper">
      <div class='hero-content'>
        <p>6678 WINNENDE WEDTIPS IN 2020</p>
        <h3>Inspiriatie nodig voor jouw weddenschap?</h3>
        <p>Laat je informeren door de uitgebreide voorbeschouwingen, check de wedtips van andere wedders of lees een van de vele artikelen uit het kenniscentrum. Weet je het (nog) niet? Vraag advies in het forum of in de 24/7 chat.</p>
        <p><i class="fa fa-play-circle-o" aria-hidden="true"></i>
          Instructie video bekijken</p>
       </div>
    </div>
  
</header>