<div class='registration-container'>
    <div class='form-container'>
        <div class='form'>
            <h4>Maak in 30 seconden jouw gratis account aan</h4>
            <form>
                <input type='email' placeholder="Jouw e-mailadres" required>
                <button>Account aanmaken <i class="fa fa-chevron-circle-right"></i></button>
            </form>
            <p>54 mensen gingen je de afgelopen week voor</p>
            <div class='social-signup'>
                <h4>Supersnel registreren met</h4>
                <div class='social'>
                    <button><img src='../../../assets/logos/facebook.png'> Facebook</button>
                    <button (click)="signInWithGoogle()"><img
                            src='../../../assets/logos/seo-and-web.png'>Google</button>
                    <button><i class="fa fa-apple"></i>Appel</button>
                </div>
            </div>
        </div>
        <div class='login-redirection'>
            <p>Heb je al een account? <a href='#'>Log in dan hier</a></p>

        </div>
    </div>

</div>