<div class="secound_step_content">
    <!-- <a class="sluiten-button">Sluiten</a> -->
    <h3 class='aanvullende-gegevens-header'>Aanvullende gegevens</h3>

    <div class="nationality_wrapper">
        <div class='second-decorator'>
            <div class='active'><i class="fa fa-check-circle" aria-hidden="true"></i>
                Profile </div>
            <div class='line '> </div>
            <div class="active">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <p>Aanvullende gegevens</p>
            </div>
            <div class='grey-line '> </div>
            <p class='grey'>Afronden</p>
        </div>
        <div class="nationaliteit-wrapper">
            <h3>Nationaliteit</h3>
            <div class="nationaliteit-dropdown">
                <input disabled type="text" placeholder="nederland">
                <span></span><i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>

        <div class="birthday-wrapper">
            <section>
                <h3>Geboortedag</h3>
                <div>
                    <input disabled type="text" placeholder="18">
                    <span></span><i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </section>
            <section>
                <h3>Geboortemaand</h3>
                <div>
                    <input disabled type="text" placeholder="Juli">
                    <span></span><i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </section>
            <section>
                <h3>Geboortemaand</h3>
                <div>
                    <input disabled type="text" placeholder="1993">
                    <span></span><i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
            </section>
        </div>
    </div>


    <!-- <div class="birthday_wrapper">
        <section>
            <label for="gebortdaag">Geboortedag </label>
            <select name="nationality" id="dropdown_geboortedag">
                <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{i}}</option>

            </select>
        </section>
        <section>
            <label for="gebortemaand">Geboortemaand</label>
            <select name="gebortemaand" id="dropdown_geboorremaand">
                <option *ngFor="let i of ['Januari','Februari','Maart','April']">{{i}}</option>

            </select>
        </section>
        <section>
            <label for="gebortejaar">Geboortejaar</label>
            <select name="gebortejaar" id="dropdown_nationality">
                <option *ngFor="let i of [1990,1991,1992,1993,1994,1995]">{{i}}</option>

            </select>
        </section>

    </div> -->
</div>